ul {

	background: #a64dff;
	width: 900px;
	height: 30px;
	margin: 50px auto;
	box-shadow:0 0 10px silver;
}
li {

	color: white;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 2;
	font-size: 16px;
	padding: 0 10px;
	height: 100%;
	list-style-type: none;
	float: left;
}

li:last-child {
	float: right;
	margin-right: 40px;
}

li:hover {
	color: grey;
	background: white;
	height: 100%;
	box-shadow:0 0 10px white;
}