div.div {
	
	width: 600px;
	background-color: white;
}	
ul {
	margin: 50px auto;
	border: 1px solid black;
	height: 50px;
	width: 900px;

}
li {
	float: left;
	line-height: 1.2;
	margin: 10px 10px;
	padding: 5px;
	width: 20px;
	height: 20px;
	text-transform: uppercase;
	border: 1px solid #A13BCF;
	color: #A13BCF;
	list-style-type: none;
	text-align: center;
	border-radius: 5px;
}
li.one {
	border: none;
	margin: 10px 0;  
	width: 70px;
}
li:hover {
	background-color: #A13BCF;	
	color: white;
}
li.one:hover {
	background: none;
	color: #A13BCF;
	border: none;
}

li.left:before {
	content:'« ';
	vertical-align: 1px; 
}
li.right:after {
	content: ' »';
	vertical-align: 1px;
}
